In [ ]:
import pandas as pd
import numpy as np
from datetime import date


# In[3]:


def get_countries_table():
    url = "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp"
    tables = pd.read_html(url)
    country_table = tables[1]
    del country_table['Rank']
    country_table.to_csv("countries.csv", index=False)
    return country_table


# In[5]:


countries_table = get_countries_table()


# In[6]:


countries_table


# In[7]:


def get_country_info(country):
    country=country.capitalize().replace(' ', '+')
    url = f"https://www.numbeo.com/cost-of-living/country_result.jsp?country={country}&displayCurrency=USD"
    tables = pd.read_html(url)
    country_info_table = tables[1]
    country_info_table.columns = ['Item', 'Price', 'Range']
    return country_info_table

def get_items():
    items = get_country_info("germany")
    return items['Item']


# In[9]:


country_list = countries_table['Country'].values
df = pd.DataFrame()
df['Item'] = get_items()
for country in country_list:
    df[country] = get_country_info(country)['Price']
    print("Scraping Country: "+ country)
df = df[df.Germany!='Edit']


# In[11]:


filename = f"cost_of_living_all-{date.today().strftime('%d-%m-%Y')}.csv"
df.to_csv(filename)

In [109]:
import pandas as pd
import numpy as np
from datetime import date
import unidecode

In [188]:
cities_table=pd.read_csv('./simplemaps_worldcities_basicv1.73/worldcities.csv')


cities_list=cities_table['city'].values


def get_city_info(city):
    url = f"https://www.numbeo.com/cost-of-living/in/{city}?displayCurrency=EUR"
    tables = pd.read_html(url)
    if(len(tables)==5):
        city_info_table = tables[1]
        #city_info_table.columns = ['Item', 'Price', 'Range']
        return city_info_table
    elif(len(tables)==6):
    
        city_info_table = tables[2]
        #city_info_table.columns = ['Item', 'Price', 'Range']
        return city_info_table
    else:
        return pd.DataFrame()

def get_items():
    items = get_country_info("germany")
    return items['Item']

In [ ]:
df = pd.DataFrame()
df['Item'] = get_items()
for city in cities_list:
    city=[x.capitalize() for x in city.split()]
    city="-".join(city)
    city=unidecode.unidecode(city)
    res=get_city_info(city)
    if(not res.empty):
        #df[city] = res['Price']
        df[city] = res['Edit']
        print("Scraping City: "+ city)
df = df[df.Germany!='Edit']

In [190]:
filename = f"cost_of_living_all-Cities.csv"
df.to_csv(filename)

In [191]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
Item,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three...",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),Markets,"Milk (regular), (1 liter)",...,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Buy Apartment Price,Price per Square Meter to Buy Apartment in Cit...,Price per Square Meter to Buy Apartment Outsid...,Salaries And Financing,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yea..."
Tokyo,7.67 €,38.36 €,5.37 €,3.84 €,4.60 €,2.99 €,1.16 €,0.87 €,Edit,1.61 €,...,"1,057.65 €",593.66 €,"2,437.92 €","1,281.59 €",Edit,"9,820.93 €","5,930.59 €",Edit,"2,720.92 €",1.24
Jakarta,2.28 €,17.13 €,2.85 €,2.57 €,3.14 €,1.84 €,0.50 €,0.23 €,Edit,1.16 €,...,404.55 €,212.56 €,"1,023.00 €",599.83 €,Edit,"2,281.33 €","1,166.44 €",Edit,393.02 €,9.79
Delhi,3.33 €,16.67 €,3.33 €,1.67 €,2.78 €,1.67 €,0.43 €,0.19 €,Edit,0.59 €,...,194.84 €,109.05 €,459.63 €,250.71 €,Edit,"1,846.56 €",843.30 €,Edit,384.72 €,8.72
Mumbai,3.33 €,16.67 €,3.33 €,1.89 €,3.33 €,1.73 €,0.43 €,0.18 €,Edit,0.64 €,...,494.19 €,261.29 €,"1,397.62 €",662.01 €,Edit,"5,285.87 €","2,001.39 €",Edit,518.06 €,8.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Trinidad,5.54 €,49.25 €,4.93 €,1.23 €,1.85 €,2.46 €,0.72 €,0.62 €,Edit,1.48 €,...,502.77 €,328.92 €,"1,179.96 €",769.54 €,Edit,414.34 €,369.38 €,Edit,769.54 €,5.00
Watford,17.27 €,54.68 €,6.91 €,4.49 €,4.83 €,3.65 €,2.19 €,1.73 €,Edit,0.95 €,...,"1,079.12 €",986.62 €,"1,860.88 €","1,534.75 €",Edit,"3,261.33 €","1,726.59 €",Edit,"2,778.53 €",2.83
Edison,10.45 €,43.89 €,5.85 €,4.18 €,6.69 €,3.13 €,1.67 €,1.41 €,Edit,0.75 €,...,"1,389.74 €","1,138.96 €","1,866.92 €","1,546.48 €",Edit,"2,924.33 €","2,519.42 €",Edit,"4,536.69 €",4.13
San-Angelo,9.20 €,25.08 €,5.02 €,2.82 €,3.45 €,3.07 €,1.53 €,1.39 €,Edit,0.61 €,...,898.63 €,773.24 €,"1,546.48 €","1,421.09 €",Edit,"14,632.46 €",702.48 €,Edit,"2,357.34 €",4.31
Kaiserslautern,8.50 €,41.00 €,8.00 €,3.00 €,3.75 €,2.30 €,1.88 €,1.58 €,Edit,0.83 €,...,386.00 €,330.00 €,"1,300.00 €","1,087.50 €",Edit,"1,512.50 €","1,458.33 €",Edit,"2,200.83 €",2.14

In [192]:
df

,Item,Tokyo,Jakarta,Delhi,Mumbai,Manila,Shanghai,Sao-Paulo,Seoul,Mexico-City,...,Ariana,Renton,Olomouc,Logan,Ancona,Trinidad,Watford,Edison,San-Angelo,Kaiserslautern
0,"Meal, Inexpensive Restaurant",7.67 €,2.28 €,3.33 €,3.33 €,3.28 €,3.83 €,4.39 €,5.98 €,5.83 €,...,1.74 €,15.05 €,4.78 €,8.36 €,15.00 €,5.54 €,17.27 €,10.45 €,9.20 €,8.50 €
1,"Meal for 2 People, Mid-range Restaurant, Three...",38.36 €,17.13 €,16.67 €,16.67 €,20.69 €,31.95 €,21.93 €,37.38 €,33.33 €,...,10.60 €,50.16 €,20.25 €,37.62 €,55.00 €,49.25 €,54.68 €,43.89 €,25.08 €,41.00 €
2,McMeal at McDonalds (or Equivalent Combo Meal),5.37 €,2.85 €,3.33 €,3.33 €,2.59 €,5.11 €,4.39 €,4.86 €,5.00 €,...,2.80 €,7.11 €,5.01 €,6.69 €,8.00 €,4.93 €,6.91 €,5.85 €,5.02 €,8.00 €
3,Domestic Beer (0.5 liter draught),3.84 €,2.57 €,1.67 €,1.89 €,1.34 €,1.28 €,1.32 €,2.99 €,1.46 €,...,0.91 €,4.60 €,1.35 €,1.92 €,5.00 €,1.23 €,4.49 €,4.18 €,2.82 €,3.00 €
4,Imported Beer (0.33 liter bottle),4.60 €,3.14 €,2.78 €,3.33 €,2.07 €,2.56 €,2.19 €,4.49 €,2.92 €,...,1.06 €,5.22 €,1.35 €,4.18 €,3.88 €,1.85 €,4.83 €,6.69 €,3.45 €,3.75 €
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Price per Square Meter to Buy Apartment in Cit...,"9,820.93 €","2,281.33 €","1,846.56 €","5,285.87 €","2,869.95 €","12,610.24 €","1,683.85 €","16,105.79 €","1,993.86 €",...,666.20 €,"2,963.36 €","1,938.22 €","2,684.59 €","2,250.00 €",414.34 €,"3,261.33 €","2,924.33 €","14,632.46 €","1,512.50 €"
60,Price per Square Meter to Buy Apartment Outsid...,"5,930.59 €","1,166.44 €",843.30 €,"2,001.39 €","1,986.14 €","6,266.68 €","1,099.99 €","8,189.08 €","1,177.47 €",...,540.03 €,"2,162.62 €","1,513.93 €","1,442.88 €","1,325.00 €",369.38 €,"1,726.59 €","2,519.42 €",702.48 €,"1,458.33 €"
61,Salaries And Financing,Edit,Edit,Edit,Edit,Edit,Edit,Edit,Edit,Edit,...,Edit,Edit,Edit,Edit,Edit,Edit,Edit,Edit,Edit,Edit
62,Average Monthly Net Salary (After Tax),"2,720.92 €",393.02 €,384.72 €,518.06 €,324.87 €,"1,338.15 €",384.02 €,"2,157.59 €",526.64 €,...,268.21 €,"3,578.64 €",984.23 €,"2,034.19 €","1,300.00 €",769.54 €,"2,778.53 €","4,536.69 €","2,357.34 €","2,200.83 €"
63,"Mortgage Interest Rate in Percentages (%), Yea...",1.24,9.79,8.72,8.63,8.06,4.94,8.65,3.27,10.65,...,9.75,3.31,2.64,4.17,1.90,5.00,2.83,4.13,4.31,2.14

In [1]:
import pandas as pd
import numpy as np
from datetime import date
import unidecode

In [ ]:
 
    """elif(len(tables)==6):
        city_info_table = tables[2]
        city_info_table.columns = ['Item', 'Nothing','percent', 'quality']
        #city_info_table.drop('Nothing')
        return city_info_table"""

In [2]:
cities_table=pd.read_csv('./simplemaps_worldcities_basicv1.73/worldcities.csv')


cities_list=cities_table['city'].values


def get_city_info(city):
    
    url = f"https://www.numbeo.com/crime/in/{city}"
    tables = pd.read_html(url)
    if(len(tables)==5):
        city_info_table = tables[2]
        city_info_table.columns = ['Item', 'Nothing','percent', 'quality']
        #city_info_table.drop('Nothing')
        return city_info_table
    
    elif(len(tables)==6):
        city_info_table = tables[2]
        city_info_table.columns = ['Item', 'Nothing','percent', 'quality']
        #city_info_table.drop('Nothing')
        return city_info_table
    else:
        return pd.DataFrame()

def get_items():
    items = get_city_info('Paris')
    return items['Item']

In [3]:
df1 = pd.DataFrame()
df1['Item'] = get_items()
df2=pd.DataFrame()
df2['Item'] = get_items()
for city in cities_list:
    city=[x.capitalize() for x in city.split()]
    city="-".join(city)
    city=unidecode.unidecode(city)
    res=get_city_info(city)
    if(not res.empty):
        #df[city] = res['Price']
        df1[city] =  res['percent']
        df2[city] = res['quality']
        print("Scraping City: "+ city)

Scraping City: Tokyo
Scraping City: Jakarta
Scraping City: Delhi
Scraping City: Mumbai
Scraping City: Manila
Scraping City: Shanghai
Scraping City: Sao-Paulo
Scraping City: Seoul
Scraping City: Mexico-City
Scraping City: Guangzhou
Scraping City: Beijing
Scraping City: New-York
Scraping City: Kolkata
Scraping City: Moscow
Scraping City: Bangkok
Scraping City: Buenos-Aires
Scraping City: Shenzhen
Scraping City: Dhaka
Scraping City: Lagos
Scraping City: Istanbul
Scraping City: Osaka
Scraping City: Karachi
Scraping City: Bangalore
Scraping City: Tehran
Scraping City: Kinshasa
Scraping City: Ho-Chi-Minh-City
Scraping City: Los-Angeles
Scraping City: Rio-De-Janeiro
Scraping City: Chennai
Scraping City: Chengdu
Scraping City: Lahore
Scraping City: Paris
Scraping City: London
Scraping City: Tianjin
Scraping City: Lima
Scraping City: Hyderabad
Scraping City: Bogota
Scraping City: Wuhan
Scraping City: Chicago
Scraping City: Luanda
Scraping City: Kuala-Lumpur
Scraping City: Hanoi
Scraping City: Pune
Scraping City: Chongqing
Scraping City: Changchun
Scraping City: Nanjing
Scraping City: Hefei
Scraping City: Hong-Kong
Scraping City: Khartoum
Scraping City: Xi'an
Scraping City: Shenyang
Scraping City: Santiago
Scraping City: Riyadh
Scraping City: Dar-Es-Salaam
Scraping City: Hangzhou
Scraping City: Miami
Scraping City: Surat
Scraping City: Baghdad
Scraping City: Qingdao
Scraping City: Singapore
Scraping City: Dallas
Scraping City: Philadelphia
Scraping City: Nairobi
Scraping City: Ankara
Scraping City: Houston
Scraping City: Atlanta
Scraping City: Toronto
Scraping City: Washington
Scraping City: Saint-Petersburg
Scraping City: Sydney
Scraping City: Guadalajara
Scraping City: Belo-Horizonte
Scraping City: Melbourne
Scraping City: Surabaya
Scraping City: Abidjan
Scraping City: Alexandria
Scraping City: Boston
Scraping City: Barcelona
Scraping City: Dalian
Scraping City: Johannesburg
Scraping City: Casablanca
Scraping City: Izmir
Scraping City: Monterrey
Scraping City: Phoenix
Scraping City: Xiamen
Scraping City: Amman
Scraping City: Seattle
Scraping City: Yokohama
Scraping City: Kabul
Scraping City: Berlin
Scraping City: San-Francisco
Scraping City: Montreal
Scraping City: Detroit
Scraping City: Busan
Scraping City: Algiers
Scraping City: Madrid
Scraping City: San-Diego
Scraping City: Faisalabad
Scraping City: Jaipur
Scraping City: Addis-Ababa
Scraping City: Brasilia
Scraping City: Mashhad
Scraping City: Minneapolis
Scraping City: Quezon-City
Scraping City: Salvador
Scraping City: Incheon
Scraping City: Bursa
Scraping City: Tampa
Scraping City: Birmingham
Scraping City: Denver
Scraping City: Rome
Scraping City: La-Paz
Scraping City: Kano
Scraping City: Taichung
Scraping City: Kaohsiung
Scraping City: Guayaquil
Scraping City: Manchester
Scraping City: Taipei
Scraping City: Antananarivo
Scraping City: Santo-Domingo
Scraping City: Brooklyn
Scraping City: Medellin
Scraping City: Brisbane
Scraping City: Dubai
Scraping City: Cali
Scraping City: Daegu
Scraping City: Fortaleza
Scraping City: Guatemala-City
Scraping City: Douala
Scraping City: Antalya
Scraping City: Tashkent
Scraping City: Bandung
Scraping City: Nagpur
Scraping City: Ghaziabad
Scraping City: Tijuana
Scraping City: Accra
Scraping City: Vancouver
Scraping City: Konya
Scraping City: Adana
Scraping City: Medan
Scraping City: Indore
Scraping City: Baku
Scraping City: Havana
Scraping City: Phnom-Penh
Scraping City: Fukuoka
Scraping City: Riverside
Scraping City: Baltimore
Scraping City: Las-Vegas
Scraping City: Rawalpindi
Scraping City: Portland
Scraping City: Vadodara
Scraping City: Perth
Scraping City: San-Antonio
Scraping City: Minsk
Scraping City: Quito
Scraping City: Peshawar
Scraping City: Sapporo
Scraping City: Caracas
Scraping City: Leeds
Scraping City: Sacramento
Scraping City: Blantyre
Scraping City: Bucharest
Scraping City: Bhopal
Scraping City: Curitiba
Scraping City: Asuncion
Scraping City: Vienna
Scraping City: Hamburg
Scraping City: Orlando
Scraping City: Mersin
Scraping City: Almaty
Scraping City: Barranquilla
Scraping City: Kyoto
Scraping City: Manaus
Scraping City: San-Jose
Scraping City: Warsaw
Scraping City: Damascus
Scraping City: Esfahan
Scraping City: Budapest
Scraping City: Lusaka
Scraping City: Vitoria
Scraping City: Cleveland
Scraping City: Pittsburgh
Scraping City: Mecca
Scraping City: Patna
Scraping City: Austin
Scraping City: Conakry
Scraping City: Kampala
Scraping City: Cincinnati
Scraping City: Ludhiana
Scraping City: Newcastle
Scraping City: Kansas-City
Scraping City: Rabat
Scraping City: Davao
Scraping City: Multan
Scraping City: Harare
Scraping City: Novosibirsk
Scraping City: Indianapolis
Scraping City: Puebla
Scraping City: Gujranwala
Scraping City: Recife
Scraping City: Columbus
Scraping City: Tabriz
Scraping City: Santiago
Scraping City: Charlotte
Scraping City: Nasik
Scraping City: Porto-Alegre
Scraping City: Valencia
Scraping City: Virginia-Beach
Scraping City: Munich
Scraping City: Yekaterinburg
Scraping City: Auckland
Scraping City: Shiraz
Scraping City: Kharkiv
Scraping City: Muscat
Scraping City: Bronx
Scraping City: The-Hague
Scraping City: Sharjah
Scraping City: Faridabad
Scraping City: Ulaanbaatar
Scraping City: Goiania
Scraping City: Belgrade
Scraping City: Islamabad
Scraping City: Milwaukee
Scraping City: Milan
Scraping City: Sofia
Scraping City: Adelaide
Scraping City: Samsun
Scraping City: Rajkot
Scraping City: Cordoba
Scraping City: Prague
Scraping City: Montevideo
Scraping City: Doha
Scraping City: Meerut
Scraping City: Thane
Scraping City: Nizhniy-Novgorod
Scraping City: Kazan
Scraping City: Calgary
Scraping City: Abuja
Scraping City: Sevilla
Scraping City: Varanasi
Scraping City: Tunis
Scraping City: Chelyabinsk
Scraping City: Mombasa
Scraping City: Maputo
Scraping City: Rosario
Scraping City: Dublin
Scraping City: Jacksonville
Scraping City: Medina
Scraping City: Srinagar
Scraping City: Omsk
Scraping City: Samara
Scraping City: Campinas
Scraping City: Dakar
Scraping City: Quetta
Scraping City: Amritsar
Scraping City: Tegucigalpa
Scraping City: Tripoli
Scraping City: Tbilisi
Scraping City: Ufa
Scraping City: Mexicali
Scraping City: Salt-Lake-City
Scraping City: Copenhagen
Scraping City: Cologne
Scraping City: Krasnoyarsk
Scraping City: Nashville
Scraping City: Yerevan
Scraping City: Ranchi
Scraping City: Richmond
Scraping City: San-Pedro-Sula
Scraping City: Memphis
Scraping City: Edmonton
Scraping City: Sendai
Scraping City: Voronezh
Scraping City: Perm
Scraping City: Raleigh
Scraping City: Cartagena
Scraping City: Chandigarh
Scraping City: Bishkek
Scraping City: Amsterdam
Scraping City: Ashgabat
Scraping City: Managua
Scraping City: New-Orleans
Scraping City: Port-au-prince
Scraping City: Mysore
Scraping City: Odesa
Scraping City: Kathmandu
Scraping City: Raipur
Scraping City: Nice
Scraping City: Rotterdam
Scraping City: Louisville
Scraping City: Abu-Dhabi
Scraping City: Stockholm
Scraping City: Ottawa
Scraping City: Jerusalem
Scraping City: Panama-City
Scraping City: Zagreb
Scraping City: Dushanbe
Scraping City: Lilongwe
Scraping City: Vientiane
Scraping City: Colombo
Scraping City: Kigali
Scraping City: Pretoria
Scraping City: Winnipeg
Scraping City: Quebec-City
Scraping City: Riga
Scraping City: Oslo
Scraping City: Chisinau
Scraping City: Athens
Scraping City: Helsinki
Scraping City: Skopje
Scraping City: Kuwait-City
Scraping City: Kingston
Scraping City: Vilnius
Scraping City: San-Salvador
Scraping City: Lisbon
Scraping City: Kitchener
Scraping City: Tallinn
Scraping City: Cape-Town
Scraping City: Bratislava
Scraping City: Tirana
Scraping City: Canberra
Scraping City: Wellington
Scraping City: Beirut
Scraping City: Halifax
Scraping City: Port-Moresby
Scraping City: Victoria
Scraping City: Maseru
Scraping City: Nicosia
Scraping City: Windhoek
Scraping City: San-Jose
Scraping City: Ljubljana
Scraping City: Sarajevo
Scraping City: Nassau
Scraping City: Bloemfontein
Scraping City: Gaborone
Scraping City: Paramaribo
Scraping City: Dili
Scraping City: Pristina
Scraping City: Georgetown
Scraping City: Brussels
Scraping City: Male
Scraping City: Podgorica
Scraping City: Manama
Scraping City: Port-Louis
Scraping City: Bern
Scraping City: Reykjavik
Scraping City: Luxembourg

Scraping City: Bridgetown
Scraping City: Suva
Scraping City: Bandar-Seri-Begawan
Scraping City: Monaco
Scraping City: Port-Of-Spain
Scraping City: Victoria
Scraping City: Saint-John's
Scraping City: Andorra-La-Vella
Scraping City: Belmopan
Scraping City: Basseterre
Scraping City: Valletta
Scraping City: Jodhpur
Scraping City: Glasgow
Scraping City: Natal
Scraping City: Naples
Scraping City: Oklahoma-City
Scraping City: Toulouse
Scraping City: Coimbatore
Scraping City: Guwahati
Scraping City: Tangier
Scraping City: Aguascalientes
Scraping City: Marrakech
Scraping City: Buffalo
Scraping City: Fort-Worth
Scraping City: Hartford
Scraping City: Ad-Dammam
Scraping City: Merida
Scraping City: Hubli
Scraping City: Tucson
Scraping City: Krasnodar
Scraping City: Natal
Scraping City: Chihuahua
Scraping City: Klang
Scraping City: Turin
Scraping City: Jalandhar
Scraping City: Marseille
Scraping City: Eskisehir
Scraping City: Liverpool
Scraping City: Southampton
Scraping City: Portsmouth
Scraping City: Omaha
Scraping City: Saratov
Scraping City: El-Paso
Scraping City: San-Luis-Potosi
Scraping City: Toluca
Scraping City: Honolulu
Scraping City: Queretaro
Scraping City: Hermosillo
Scraping City: Taguig-City
Scraping City: Saltillo
Scraping City: Joao-Pessoa
Scraping City: Valencia
Scraping City: Culiacan
Scraping City: Nottingham
Scraping City: Albuquerque
Scraping City: Frankfurt
Scraping City: Pietermaritzburg
Scraping City: Kolhapur
Scraping City: Thiruvananthapuram
Scraping City: Cancun
Scraping City: Birmingham
Scraping City: Rennes
Scraping City: Bristol
Scraping City: Lviv
Scraping City: Bremen
Scraping City: Mississauga
Scraping City: George-Town
Scraping City: Rochester
Scraping City: Fresno
Scraping City: Grenoble
Scraping City: Hamilton
Scraping City: Lodz
Scraping City: Sheffield
Scraping City: Kochi
Scraping City: Allentown
Scraping City: Gold-Coast
Scraping City: Palermo
Scraping City: Tulsa
Scraping City: Ribeirao-Preto
Scraping City: As-Sulaymaniyah
Scraping City: Durango
Scraping City: Bulawayo
Scraping City: Izhevsk
Scraping City: Petaling-Jaya
Scraping City: Utrecht
Scraping City: Colorado-Springs
Scraping City: Valenzuela
Scraping City: Wroclaw
Scraping City: Nantes
Scraping City: Stuttgart
Scraping City: Cochabamba
Scraping City: Tripoli
Scraping City: Mangalore
Scraping City: Springfield
Scraping City: Dusseldorf
Scraping City: Buraydah
Scraping City: Montpellier
Scraping City: Grand-Rapids
Scraping City: Vladivostok
Scraping City: Gothenburg
Scraping City: Durban
Scraping City: Brampton
Scraping City: Dortmund
Scraping City: Shah-Alam
Scraping City: Knoxville
Scraping City: Essen
Scraping City: Genoa
Scraping City: Bakersfield
Scraping City: Malaga
Scraping City: Tomsk
Scraping City: Kingston-Upon-Hull
Scraping City: Baton-Rouge
Scraping City: Pereira
Scraping City: Bacolod
Scraping City: Columbia
Scraping City: Dresden
Scraping City: Leipzig
Scraping City: Poznan
Scraping City: Antwerp
Scraping City: Ensenada
Scraping City: Lyon
Scraping City: Nuremberg
Scraping City: Surrey
Scraping City: Leicester
Scraping City: Jammu
Scraping City: Mazatlan
Scraping City: Niteroi
Scraping City: Johor-Bahru
Scraping City: Kota-Bharu
Scraping City: Edinburgh
Scraping City: Belgaum
Scraping City: Greenville
Scraping City: Wichita
Scraping City: Florianopolis
Scraping City: Kaliningrad
Scraping City: San-Juan
Scraping City: Des-Moines
Scraping City: Celaya
Scraping City: Strasbourg
Scraping City: Gdansk
Scraping City: Long-Beach
Scraping City: Sfax
Scraping City: Iloilo
Scraping City: Kota-Kinabalu
Scraping City: Barcelona
Scraping City: Madison
Scraping City: Reno
Scraping City: Little-Rock
Scraping City: Zurich
Scraping City: Santos
Scraping City: Yogyakarta
Scraping City: Oakland
Scraping City: Sevastopol
Scraping City: Agadir
Scraping City: Durham
Scraping City: Laval
Scraping City: Chattanooga
Scraping City: Spokane
Scraping City: Murcia
Scraping City: Szczecin
Scraping City: Eindhoven
Scraping City: Stockton
Scraping City: Nha-Trang
Scraping City: Bologna
Scraping City: Caxias-Do-Sul
Scraping City: Boise
Scraping City: Plovdiv
Scraping City: Florence
Scraping City: London
Scraping City: Las-Palmas
Scraping City: Modesto
Scraping City: Brno
Scraping City: Novi-Sad
Scraping City: Christchurch
Scraping City: Varna
Scraping City: Coventry
Scraping City: Bydgoszcz
Scraping City: Bilbao
Scraping City: Haarlem
Scraping City: Simferopol
Scraping City: Greensboro
Scraping City: East-London
Scraping City: Corpus-Christi
Scraping City: Lublin
Scraping City: Randburg
Scraping City: Reading
Scraping City: Belfast
Scraping City: Alicante
Scraping City: Vina-Del-Mar
Scraping City: Cuenca
Scraping City: Thessaloniki
Scraping City: San-Juan
Scraping City: Batangas
Scraping City: Kochi
Scraping City: Bonn
Scraping City: Markham
Scraping City: Bari
Scraping City: Cluj-napoca
Scraping City: Malmo
Scraping City: Cordoba
Scraping City: Kuching
Scraping City: Newcastle
Scraping City: Ann-Arbor
Scraping City: Timisoara
Scraping City: Henderson
Scraping City: Huntsville
Scraping City: Lexington
Scraping City: Mobile
Scraping City: Karlsruhe
Scraping City: Catania
Scraping City: Port-Elizabeth
Scraping City: Asheville
Scraping City: Mannheim
Scraping City: Vaughan
Scraping City: Curepipe
Scraping City: Wollongong
Scraping City: Bialystok
Scraping City: Merida
Scraping City: Vigo
Scraping City: Valparaiso
Scraping City: Bali
Scraping City: Cagliari
Scraping City: Iasi
Scraping City: Brasov
Scraping City: Graz
Scraping City: Kaunas
Scraping City: Ostrava
Scraping City: Springfield
Scraping City: Plano
Scraping City: Irvine
Scraping City: Constanta
Scraping City: Haifa
Scraping City: Newark
Scraping City: Wiesbaden
Scraping City: Katowice
Scraping City: Aomori
Scraping City: Savannah
Scraping City: Gatineau
Scraping City: Windsor
Scraping City: Myrtle-Beach
Scraping City: Derby
Scraping City: Eugene
Scraping City: Craiova
Scraping City: Plymouth
Scraping City: Espoo
Scraping City: Reading
Scraping City: Gent
Scraping City: Geelong
Scraping City: Bordeaux
Scraping City: Venice
Scraping City: Columbus
Scraping City: Wolverhampton
Scraping City: Bergen
Scraping City: La-Paz
Scraping City: Verona
Scraping City: Galati
Scraping City: Gdynia
Scraping City: Aachen
Scraping City: Anchorage
Scraping City: Saskatoon
Scraping City: Porto
Scraping City: Fremont
Scraping City: Hobart
Scraping City: Limassol
Scraping City: Kosice
Scraping City: Lille
Scraping City: Granada
Scraping City: Miri
Scraping City: York
Scraping City: Burnaby
Scraping City: Milton-Keynes
Scraping City: Freiburg-Im-Breisgau
Scraping City: Burgas
Scraping City: Puerto-Vallarta
Scraping City: Tampere
Scraping City: Sandton
Scraping City: Cordoba
Scraping City: Groningen
Scraping City: Concepcion
Scraping City: Netanya
Scraping City: Los-Angeles
Scraping City: Aberdeen
Scraping City: Luton
Scraping City: Tacoma
Scraping City: Norwich
Scraping City: San-Bernardino
Scraping City: Cartagena
Scraping City: Regina
Scraping City: Geneva
Scraping City: Padova
Scraping City: Ploiesti
Scraping City: Cork
Scraping City: Fargo
Scraping City: Linz
Scraping City: Trieste
Scraping City: Zanzibar
Scraping City: Amarillo
Scraping City: Portland
Scraping City: Debrecen
Scraping City: Croydon
Scraping City: Gurgaon
Scraping City: Liege
Scraping City: Oulu
Scraping City: Norwich
Scraping City: Banja-Luka
Scraping City: Almeria
Scraping City: Brescia
Scraping City: Richmond
Scraping City: Oradea
Scraping City: Parma
Scraping City: Oakville
Scraping City: Valencia
Scraping City: Swindon
Scraping City: Gibraltar
Scraping City: Turku
Scraping City: San-Diego
Scraping City: Bournemouth
Scraping City: Modena
Scraping City: Basel
Scraping City: Vancouver
Scraping City: Rzeszow
Scraping City: Trondheim
Scraping City: Nis
Scraping City: Burlington
Scraping City: Spartanburg
Scraping City: Braga
Scraping City: Fort-Lauderdale
Scraping City: Townsville
Scraping City: Ipswich
Scraping City: Split
Scraping City: Middlesbrough
Scraping City: Leon
Scraping City: Barrie
Scraping City: Guanajuato
Scraping City: Hamilton
Scraping City: Uppsala
Scraping City: Perugia
Scraping City: Oshawa
Scraping City: Klaipeda
Scraping City: Bayamon
Scraping City: Slough

Scraping City: Odense
Scraping City: Ipswich
Scraping City: Mostar
Scraping City: Manchester
Scraping City: Benoni
Scraping City: Heidelberg
Scraping City: Szeged
Scraping City: Sherbrooke
Scraping City: Arad
Scraping City: Alexandria
Scraping City: George
Scraping City: Springfield
Scraping City: Oxford
Scraping City: Batumi
Scraping City: Frederick
Scraping City: Salzburg
Scraping City: Odessa
Scraping City: Midland
Scraping City: York
Scraping City: Cairns
Scraping City: Kansas-City
Scraping City: Foggia
Scraping City: Siem-Reap
Scraping City: Willemstad
Scraping City: Dundee
Scraping City: Sibiu
Scraping City: San-Juan
Scraping City: David
Scraping City: Marbella
Scraping City: Coimbra
Scraping City: Blackpool
Scraping City: Lausanne
Scraping City: Kelowna
Scraping City: Columbia
Scraping City: Athens
Scraping City: Abbotsford
Scraping City: San-Jose
Scraping City: Carolina
Scraping City: Coquitlam
Scraping City: Grand-Junction
Scraping City: Darwin
Scraping City: Jyvaskyla
Scraping City: Toowoomba
Scraping City: Uppsala
Scraping City: Panama-City
Scraping City: Chiang-Mai
Scraping City: Brighton
Scraping City: Tauranga
Scraping City: Santiago
Scraping City: Innsbruck
Scraping City: Papeete
Scraping City: Stavanger
Scraping City: Guelph
Scraping City: Rijeka
Scraping City: Burlington
Scraping City: Bellingham
Scraping City: Udon-Thani
Scraping City: Vasteras
Scraping City: Greenville
Scraping City: Cambridge
Scraping City: Orebro
Scraping City: Leon
Scraping City: Exeter
Scraping City: Aalborg
Scraping City: Dunedin
Scraping City: Maastricht
Scraping City: Baia-Mare
Scraping City: San-Pedro-Garza-Garcia
Scraping City: Alberton
Scraping City: Bergamo
Scraping City: Berkeley
Scraping City: Billings
Scraping City: Rochester
Scraping City: Ajax
Scraping City: Cambridge
Scraping City: Lahti
Scraping City: Trento
Scraping City: Linkoping
Scraping City: Langley
Scraping City: Ponce
Scraping City: Khon-Kaen
Scraping City: Helsingborg
Scraping City: Maribor
Scraping City: Colchester
Scraping City: Vicenza

URLError: <urlopen error [Errno 8] nodename nor servname provided, or not known>

In [91]:
citydf1=df1.transpose()
citydf2=df2.transpose()

In [93]:
filename1 = f"crime-Cities.csv"
filename2 = f"crime_Cities_2.csv"
citydf1.to_csv(filename1)
citydf2.to_csv(filename2)

In [95]:
%%bash
pwd

/Users/TristanLefebvre/Downloads/BIUM/PROJET/Nouveau dossier contenant des éléments